.experience {
  .item {
    @include flex;
    margin-bottom: 20px;

    &__image {
      position: relative;
      min-height: 6rem;

      img {
        width: 3.6rem;
      }

      // &:after {
      //   content: '';
      //   width: 2px;
      //   background: var(--primary-text-color);
      //   position: absolute;
      //   display: block;
      //   left: 50%;
      //   top: 5.4rem;
      //   bottom: -0.3em;
      // }
    }

    &__content {
      padding-left: 1.5em;
      width: 100%;
    }

    &__top {
      @include flex;
      align-items: center;
      justify-content: space-between;
    }

    &__header {
      font-size: 15px;
    }

    &__date {
      font-size: 12px;
      font-weight: 700;
      color: var(--primary-item-active);
    }

    &__meta {
      line-height: 2;
      font-size: 15px;
      font-weight: 700;

      a {
        color: var(--primary-item-active);
      }
    }

    &__label {
      ul {
        li {
          display: inline-block;
          font-size: 11PX;
          font-weight: 700;
          padding: 5px 7px;
          background-color: var(--primary-icon-color);
          border-radius: 5px;
          color: var(--primary-theme-color);
        }
      }

      margin-bottom: 10px;
    }

    &__description {
      font-size: 13px;
      line-height: 2;
      font-weight: 700;
      color: #838383;
    }
  }
}

.item:not(:last-child) .item__image::after {
  content: '';
  width: 2px;
  background: var(--primary-text-color);
  position: absolute;
  display: block;
  left: 50%;
  top: 4.4rem;
  bottom: -0.3em;
}